<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header>
      <app-bar></app-bar>
    </header>
    <main tabindex="0">
      <hero-element image="./images/heros/hero-image_2.jpg"> </hero-element>
      <article id="content" class="wrapper" tabindex="0" ></article>
      <footer>
        <footer-bar></footer-bar>
      </footer>
    </main>
  </body>
</html>
